---
layout: default
image: '/images/01.jpg'
---

{% include hero.html %}

<head>
  <meta name="twitter:card" content="blog.fklein.me"><!-- required -->
  <meta name="twitter:site" content="@fklein82"><!-- required -->
  <meta name="twitter:title" content="Fklein's Blog"><!-- required -->
  <meta name="twitter:description" content="Welcome to my personnal blog about Tanzu and Kubernetes"><!-- optional -->
  <meta name="twitter:image" content="https://blog.fklein.me/images/twitter.jpg"><!-- optional -->
  <meta name="twitter:image:alt" content="tanzu"><!-- optional -->
</head>

<div class="container">
  <div class="row animate">
    {% if site.posts.size > 0 %}
      {% for post in paginator.posts %}
        {% include article.html %}
      {% endfor %}
    {% endif %}
  </div>
</div>

{% include pagination.html %}

{% include section-tags.html %}