<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <!--
    <a class="navbar-brand" href="{{"/" | relative_url }}">Start Bootstrap</a>
    -->
    <a class="navbar-brand" href="https://tanzu.vmware.com/">VMware Tanzu</a>
    <a class="navbar-brand" href="https://aws.amazon.com/console">AWS Console</a>
    <a class="navbar-brand" href="https://portal.azure.com/">Azure Portal</a>
    <a class="navbar-brand" href="https://console.cloud.google.com/">GCP Console</a>
    <!--<a class="navbar-brand" href="https://home.fklein.me:5001/">NAS Console</a>-->
    <a class="navbar-brand" href="https://stats.uptimerobot.com/GzwEBSJV02">Monitoring</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{"/" | relative_url }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{"/about/index.html" | relative_url }}">About me</a>
        </li>
        
 <!--       <li class="nav-item">
          <a class="nav-link" href="{{"/podcasts/index.html" | relative_url }}">Le podcast en 🇫🇷</a>
        </li>
  
        <li class="nav-item">
          <a class="nav-link" href="{{"/posts/index.html" | relative_url }}">Posts</a>
        </li>
  -->     
        </ul>
    </div>
  </div>
</nav>
